node_modules
.expo/
dist/
web-build/
expo-env.d.ts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
app-example
tar/
package-lock.json
AndroidManifest.xml
yarn.lock
my_logs/*
compiled_apk/*
.history
my_logs